<section>
  <div class="card-content">
    <img class="meta-icon crown" src="assets/icons/crown.svg" *ngIf="storyOfWeek">
    <section class="d-flex justify-content-between">
      <div class="w-100 pt-5">
        <span class="quote-icon px-1">“</span>
        <h3 class="card-title">{{ story.title }}</h3>

        <div class="card-meta px-4">
          <img class="meta-icon" src="assets/icons/user_dial.svg">
          <div class="meta-text ml-2">
            <p class="mb-0 leader-text">{{ story.leader }}</p>
            <p class="location mb-0">{{ story.location }}</p>
          </div>
        </div>
      </div>
      <div class="card-image-wrapper">
        <!-- <img [src]="story.imageUrl" alt="Story Image" class="card-image"> -->
        <img src="https://elements-resized.envatousercontent.com/envato-dam-assets-production/EVA/TRX/c9/02/72/0c/81/v1_E10/E10666ZH.jpg?w=500&cf_fit=scale-down&mark-alpha=18&mark=https%3A%2F%2Felements-assets.envato.com%2Fstatic%2Fwatermark4.png&q=85&format=auto&s=5384416e9acca61b261ca0d6b624920116ef2e330a2732795e2ffc03684e3aeb" alt="Story Image" class="card-image">
      </div>
    </section>
    <div class="card-actions d-flex justify-content-between px-4">
      <section class="d-flex">
        <div class="action-item">
          <span class="like-icon">♡</span> {{ story.likes }}
        </div>
        <div class="action-item" (click)="showShareModal = true">
          <span class="read-icon"></span> {{ story.reads }}
        </div>
      </section>
      <button class="read-story-btn" (click)="showModal = true">Read Story</button>
    </div>
    <svg width="832" height="151" viewBox="0 0 832 151" fill="none" xmlns="http://www.w3.org/2000/svg" id="flow-img">
      <path d="M0 37.9779C0 37.9779 90.0129 0.061928 153.078 0C216.144 -0.061928 259.444 52.1275 334.139 55.5996C408.834 59.0716 444.555 21.7531 519.314 19.1408C594.073 16.5286 672.448 59.1383 747.286 55.5996C822.124 52.0609 865.161 21.6137 931.227 14.8873C997.293 8.16092 1102 14.8873 1102 14.8873V151H0V37.9779Z" fill="#572E91"/>
    </svg>
  </div>
</section>

<app-story-model
  *ngIf="showModal"
  (close)="showModal = false">
</app-story-model>

<app-share-modal
  *ngIf="showShareModal"
  (close)="showShareModal = false">
</app-share-modal>
