.card-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.quote-icon {
  font-size: 6rem;
  font-weight: 900;
  line-height: 0.5;
  color: #7a1fa2;
  margin-bottom: 20px;
  padding-top: 3rem;
}

.crown {
  position: absolute;
  top: -2rem;
  left: -2rem;
}

.card-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
  color: #333;
  padding-bottom: 2rem;
  border-bottom: 1px solid;
  width: 130px;
  max-width: 130px;
  white-space: normal; 
  word-break: break-word;
  overflow-wrap: break-word;
  margin-top: -30px;
  margin-left: 45px;

}

.card-meta {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 1rem;
  .meta-icon {
      font-size: 20px;
      margin-right: 10px;
      color: #7a1fa2;
      width: 30px;
  }
  .location {
      font-size: 12px;
      color: #000000;
  }

  .leader-text{
    font-weight: 700;
    font-size: 13px;
    color: #000000;

  }
}

#flow-img {
  position: absolute;
  bottom: -34px;
  width: 160%;
}

.card-actions {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  position: relative;
  margin-top: 2.5rem;
  z-index: 2;

  .action-item {
      display: flex;
      align-items: center;
      color: white;
      font-size: 14px;
      padding: 8px 12px;
      margin-right: 15px;
      border: 1px solid white;
      border-radius: 5px;
      background: white;
      color: purple;
      font-weight: 700;

      .like-icon {
          font-size: 16px;
          margin-right: 5px;
      }
      .read-icon {
          width: 14px;
          height: 14px;
          background-color: white;
          mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21 17h-2v2h2v-2zm-2 4h2v-2h-2v2zm-2-4h2v-2h-2v2zm-2 4h2v-2h-2v2zm-2-4h2v-2h-2v2zm-2 4h2v-2h-2v2zm-2-4h2v-2h-2v2zm-2 4h2v-2h-2v2zm-2-4h2v-2h-2v2zm-2 4h2v-2h-2v2zm-2-4h2v-2h-2v2zm-2 4h2v-2H3v2zm0-4h2v-2H3v2zm0-4h2v-2H3v2zm0-4h2v-2H3v2zm0-4h2V5H3v2zm4-2h14v-2H7v2z"/></svg>') no-repeat center;
          -webkit-mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21 17h-2v2h2v-2zm-2 4h2v-2h-2v2zm-2-4h2v-2h-2v2zm-2 4h2v-2h-2v2zm-2-4h2v-2h-2v2zm-2 4h2v-2h-2v2zm-2-4h2v-2h-2v2zm-2 4h2v-2h-2v2zm-2-4h2v-2h-2v2zm-2 4h2v-2h-2v2zm-2-4h2v-2h-2v2zm-2 4h2v-2H3v2zm0-4h2v-2H3v2zm0-4h2v-2H3v2zm0-4h2v-2H3v2zm0-4h2V5H3v2zm4-2h14v-2H7v2z"/></svg>') no-repeat center;
          mask-size: contain;
          margin-right: 5px;
      }
  }

  .read-story-btn {
      margin-left: auto;
      padding: 7px 20px;
      background-color: var(--primary-color);
      color: #ffffff;
      border: 1px solid black;
      border-radius: 4px;
      font-weight: 600;
      cursor: pointer;
      transition: background-color 0.2s;

      &:hover {
          background-color: #e0e0e0;
          color: var(--primary-color);
      }
  }
}

.card-image-wrapper {
  width: 40%;
  overflow: hidden;
  margin-right: 2rem;
  border-radius: 5px;

  .card-image {
      width: 200px;
      height: 200px;
      object-fit: cover;
      display: block;
      padding-right:2rem;
      padding-top: 2rem;
  }
}

.slide-item.active > .story-card {
  &:first-child {
      margin-right: 20px;
  }
}
