<footer class="sg-footer">

  <!-- Background Images -->

  <img src="assets/icons/dandelion-footer.svg" class="sg-footer-background-wave" alt="">

  <img src="assets/icons/dandelion-footer-2.svg" class="sg-footer-background-side-icon" alt="">

  <img src="assets/icons/dandelion-footer-3.svg" class="sg-footer-background-center-icon" alt="">


  <div class="sg-footer-content">

    <!-- LEFT -->

    <div class="sg-footer-brand-column">

      <div class="sg-footer-logo-wrapper">
        <img
          [src]="footerLogoUrl"
          class="sg-footer-logo-image"
          alt="Shikshagraha logo">
      </div>

      <p class="sg-footer-tagline">
        {{footerText.tagline}}
      </p>

      <div class="sg-footer-social-links">

        <a
          *ngFor="let social of socialLinks"
          class="sg-footer-social-link"
          [href]="social.href"
          target="_blank"
          rel="noopener noreferrer">

          <img
            [src]="social.img"
            class="sg-footer-social-icon"
            [alt]="social.label">
        </a>

      </div>

    </div>

    <!-- RIGHT -->

    <div class="sg-footer-navigation">

      <!-- Movement -->

      <div>

        <p class="sg-footer-navigation-heading">{{footerText.movementHeading}}</p>

        <ul class="sg-footer-navigation-list">

          <li *ngFor="let item of movementLinks">

            <a
              [href]="item.href"
              class="sg-footer-navigation-link">

              {{item.label}}

            </a>

          </li>

        </ul>

      </div>

      <!-- Connect -->

      <div>

        <p class="sg-footer-navigation-heading">{{footerText.connectHeading}}</p>

        <ul class="sg-footer-navigation-list">

          <li *ngFor="let item of connectLinks">

            <a
              [href]="item.href"
              (click)="handleConnectLinkClick($event, item)"
              class="sg-footer-navigation-link">

              {{item.label}}

            </a>

          </li>

          <li>

            <a
              [href]="JOIN_MOVEMENT_FORM_LINK"
              target="_blank"
              class="sg-footer-join-button">

              {{footerText.joinMovement}}

            </a>

          </li>

        </ul>

      </div>

    </div>

  </div>

  <div class="sg-footer-bottom">

    <p>{{footerText.copyright}}</p>

    <p>
      {{footerText.address}}
    </p>

  </div>

</footer>
