<div class="footer-container">
    <div class="footer-content">

        <!-- Left Section -->
        <div class="left-section">
            <div class="logo-area mb-5 pt-5">
                <div class="logo-text">
                    <img src="assets/icons/shikshagraha_footer_logo.svg" alt="Shikshagraha Logo" style="height: 60px;">
                </div>
            </div>

            <div class="links-area">
                <div class="link-column">
                    <a href="#">Systemic Leadership Collective</a>
                    <a href="#">Youth Leadership Collective</a>
                    <a href="#">Women Leadership Collective</a>
                </div>

                <div class="link-column">
                    <a href="#">About Us</a>
                    <a href="#">Shikshagraha Awards</a>
                    <a href="#">Record Your Story</a>
                    <a href="#">Center Of Excellence</a>
                </div>
            </div>
        </div>
        <div class="social-area">
            <span class="social-label">Join The Movement</span>
            <div class="social-icons mt-4">
                <a href="#" aria-label="Instagram">
                    <img src="assets/icons/instagram.svg" alt="instagram">
                </a>
                <a href="#" aria-label="LinkedIn"><img src="assets/icons/linked_in.svg" alt="instagram"></a>
                <a href="#" aria-label="Facebook"><img src="assets/icons/facebook.svg" alt="instagram"></a>
                <a href="#" aria-label="X (Twitter)"><img src="assets/icons/twitter.svg" alt="twitter"></a>
                <a href="#" aria-label="YouTube"><img src="assets/icons/youtube.svg" alt="instagram"></a>
            </div>
        </div>

        <!-- Right Section -->
        <div class="right-section">
            <div class="join-card">
                <p>Join Shikshagraha for<br> every step towards<br> education</p>
                <a href="#" class="join-btn">Join us</a>
            </div>
        </div>

    </div>
    <!-- <img src="assets/icons/dandelion.svg" alt="Shikshagraha Logo" class="footer-floater" style="height: 60px;"> -->
</div>