.indicator-card {
  background:none;
  padding-bottom: 1rem;
  display: flex;
  transition: transform 0.4s ease, box-shadow 0.4s ease, background-color 0.4s ease;
  opacity: 0;
  transform: translateY(30px) scale(0.95);
  animation: slideInUpScale 0.6s forwards;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.indicator-icon {
  min-width: 33%;
  max-width: 33%;
  object-fit: contain;
  padding-right: 7%;
  width:inherit;
  height: 100px;
}

.indicator-content {
  display: flex;
  align-items: center;
}

.divider {
  width: 2px;
  height: 7rem;
  background-color: #dddada ;
}

.indicator-container {
  width: 100%;
  padding-left: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

}

.indicator-value {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--secondary-color-light);
}

.indicator-label {
  width: 100%;
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--background-color-dark);
  opacity: 0.8;
  text-align: left;
  margin-bottom: 0px;

}

@keyframes slideInUpScale {
  from { opacity: 0; transform: translateY(30px) scale(0.95); }
  to { opacity: 1; transform: translateY(0) scale(1); }
}

@media (max-width: 768px) {
  .indicator-value {
    font-size: 1rem;
  }
  .indicator-container {
    margin-left: 10px;
  }
  .indicator-card {
    margin-bottom: 10px;
  }
  .indicator-icon {
    min-width: 20%;
    max-width: 25%;
  }

  .indicator-card {
    margin-right: 65px;
  }
}
