<mat-card class="chart-card">
  <mat-card-title>{{ title }}</mat-card-title>
  
  <div class="year-buttons">
    <button mat-button *ngFor="let item of data" class="year-button"
            [ngClass]="{'enabled':item.year === year }"
            (click)="showYearData(item)">
      {{ item.year }}
    </button>
  </div>

  <mat-card-content>
    <div class="chart-container">
      <div echarts [options]="chartOption" class="chart"></div>
       <div class="line-chart-description">
    {{ note }}
   </div>
    </div>
   

  </mat-card-content>
   
</mat-card>