:host {
    display: block;
    padding: 30px 10px;
    background-color: #DFDFDF;
    width: 100%;
    margin-top: 30px;
}

.carousel-container {
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
    min-height: max-content;
}

.carousel-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    margin-left: 60px;
    color: black;

}

.carousel-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  min-height: 400px;
  margin: 0px 20px;
}


.nav-button {
  background: none;
  border: none;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
  transition: background-color 0.2s;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.slides-area {
  display: flex;
  flex: 1;
  margin: 0 44px;
  position: relative;
  height: 100%;
  overflow: hidden;
  transition: transform 0.5s ease-in-out; 
}

.slide-group {
  display: flex;
  justify-content: flex-start;
  gap: 50px;
  flex-shrink: 0;
  width: 100%;
  padding: 0px; 
}

.slide-group.active {
  opacity: 1;
  visibility: visible;
  position: relative;
  height: fit-content;
}

.story-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  height: auto;
  flex: 0 0 calc(50% - 25px);
  max-width: calc(50% - 25px);
}

.nav-button img {
   width: 36px;
   height: 36px;
}


@media (max-width: 768px) {
  .carousel-container {
     margin: 0px 5px;
  }

  .carousel-title {
     margin-left: 0;
     font-size: 18px;
  }

  .carousel-wrapper {
     min-height: auto;
     padding: 0 5px;
     margin: 0px;
  }

  .slides-area {
     margin: 27px;
     width: 100%;
     overflow: hidden;
     display: flex;
  }

  .slide-group {
     flex-shrink: 0;
     width: 100%;
     opacity: 0;
     visibility: hidden;
     transition: opacity 0.5s ease-in-out;
  }

  .slide-group.active {
     opacity: 1;
     visibility: visible;
  }

  .story-card {
     width: 100%;
     min-height: auto;
     border-radius: 3px;
     min-width: 100%;
     border-radius: 3px;
  }

  .nav-button {
     width: 27px;
     height: 27px;
     border-width: 2px;
  }

  .nav-button img {
   width: 25px;
   height: 25px;
}
}
