<div class="modal-container" role="dialog">
  <button class="close-btn" (click)="closeModal()" aria-label="Close dialog" title="Close">
    <mat-icon aria-hidden="true">close</mat-icon>
  </button>

  <div class="meta-actions">
    <h2 class="modal-title">{{ story.title }}</h2>
  
    <div class="counts-section">
      <button type="button" class="action-item" (click)="handleUserClick(story, ACTIONS.LIKE)">
        <mat-icon class="action-icon">{{ story.like ? 'favorite' : 'favorite_border' }}</mat-icon>
        {{ story.likesCount ? story.likesCount : 0 }}
      </button>

      <button type="button" class="action-item" (click)="handleUserClick(story, ACTIONS.SHARE)">
        <mat-icon class="action-icon">share</mat-icon>
        {{ story.shareCount ? story.shareCount : 0 }}
      </button>

      <div class="lang-switch-container">
        
        <span class="lang-label" *ngIf="!isLangOn && story?.lang?.length > 0"></span>>{{ story.lang[0]?.code || 'Eng'}}</span>
      
        <div class="lang-toggle-wrapper">
          <input
            type="checkbox"
            id="toggle-button-checkbox"
            [checked]="isLangOn"
            (change)="toggleLanguage()"
          />
      
          <label class="toggle-button-switch" for="toggle-button-checkbox">
            <mat-icon class="toggle-icon">translate</mat-icon>
          </label>
      
          <div class="toggle-button-text"></div>
        </div>

        <span class="lang-label" *ngIf="isLangOn && story?.lang?.length > 1">{{ story.lang[1]?.code || 'Hin' }}</span>

      </div>
    
      <span class="hint-wrapper">
        <mat-icon class="hint-icon">info</mat-icon>
      
        <span class="hint-text">
          Use toggle to switch to the language to its original record language.
          By default language is English
        </span>
      </span>
    
    </div>
    
  </div>
  

  <div class="meta-row">

    <div class="meta-item">
      <mat-icon>person</mat-icon>
      <h4>{{story.role}}</h4>
    </div>
    <div class="meta-item">
      <mat-icon>location_on</mat-icon>
      <h4>{{story.district}}, {{story.state}}</h4>
    </div>
  </div>

  <div class="modal-content">
    <p>{{story.content}}</p>
  </div>

  <div>
    <h4 class="photos-title">Photos:</h4>
    <div class="photo-row">
      @for(image of story.photos || [];track $index){
        <img [src]='image' />
      }
    </div>
  </div>
