<div class="modal-container" role="dialog">
  <button class="close-btn" (click)="closeModal()" aria-label="Close dialog" title="Close">
    <mat-icon aria-hidden="true">close</mat-icon>
  </button>

  <div class="meta-actions">
    <h2 class="modal-title">{{ currentStory.title }}</h2>

    <div class="counts-section">
      <button type="button" class="like-item" (click)="handleUserClick(currentStory, ACTIONS.LIKE)">
      <svg class="heart-svg" viewBox="0 -960 960 960" [class.liked]="currentStory.like" aria-hidden="true">
        <path d="M479.99-148.83q-11.62 0-22.93-3.83-11.3-3.83-20.07-12.84l-54.16-50Q263.5-325.33 175.08-426.17 86.67-527 86.67-639.48q0-89.38 60.06-149.28 60.06-59.91 148.84-59.91 50.6 0 99.01 23.75Q443-801.17 480-750q41-51.17 87.05-74.92 46.06-23.75 97.53-23.75 88.71 0 148.73 59.91 60.02 59.9 60.02 149.28 0 112.48-88.33 213.4-88.33 100.91-207.17 210.25l-54.66 50.5q-9 8.92-20.18 12.71-11.17 3.79-23 3.79Z"/>
      </svg>
      <span class="count">{{ currentStory.likesCount || 0 }}</span>
    </button>
    
    

      <button type="button" class="action-item" (click)="handleUserClick(currentStory, ACTIONS.SHARE)">
        <mat-icon class="action-icon">share</mat-icon>
        <span class="count">{{ currentStory.shareCount ? currentStory.shareCount : 0 }}</span>
      </button>
    @if(currentStory?.lang?.length > 1){
      <div class="lang-switch-container">

        <span class="lang-label" *ngIf="isLangOn">{{ currentStory.activeLangCode || 'Eng'}}</span>

        <div class="lang-toggle-wrapper">
          <input
            type="checkbox"
            id="toggle-button-checkbox"
            [checked]="isLangOn"
            (change)="toggleLanguage()"
          />

          <label class="toggle-button-switch" for="toggle-button-checkbox">
            <mat-icon class="toggle-icon">translate</mat-icon>
          </label>

          <div class="toggle-button-text"></div>
        </div>

        <span class="lang-label" *ngIf="!isLangOn">{{ currentStory.activeLangCode || 'Hin' }}</span>

      </div>

      <span class="hint-wrapper">
          <span class="hint-icon" aria-label="Language information"
          title="Language">i</span>

        <span class="hint-text">
          Use toggle to switch the language<br>
          &nbsp;to its original recorded language.<br>
          &nbsp;&nbsp;&nbsp;By default language is English.
        </span>
      </span>
    }

    </div>

  </div>


  <div class="meta-row">

    <div class="meta-item">
      <mat-icon class="meta-icon">person</mat-icon>
      <h4>{{currentStory.role}}</h4>
    </div>
    <div class="meta-item">
      <mat-icon class="meta-icon">location_on</mat-icon>
      <h4>{{currentStory.district}}, {{currentStory.state | titlecase}}</h4>
    </div>
  </div>

  <div class="modal-content">
    <p>{{currentStory.content}}</p>
  </div>

  <div class="photo-container" *ngIf="currentStory?.photos?.length">
    <h4 class="photos-title">Photos:</h4>
    <div class="photo-row">
      @for(image of currentStory.photos || [];track $index){
        <img [src]='image' [alt]="'Story photo ' + ($index + 1)" />
      }
    </div>
  </div>
</div>
