body {
    overflow-x: hidden !important;
}

.landing-container {
    color: var(--text-color);
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
}

h2 {
    font-family: var(--sg-font-heading);
    font-weight: 700;
    font-style: Bold;
    font-size: 36px;
}

.animation-description {
    font-family: var(--sg-font-body);
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    color: #5f6b7d;
}

.sub-description {
    font-weight: 600;
    font-size: 1.2rem;
    color: black;
    margin-bottom: 0px;
}

.data-indicators-section {
    text-align: center;
    background-color: var(--background-color);
    margin: auto;
}

.box-shadow {
    box-shadow: 0px 4px 12px 0px #00000040;
    border-radius: 7%;
    width:80%;
    height: 520px;
}

.section-sub-title {
    font-family: var(--sg-font-body);
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0%;
    color: black;
}

.section-title {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 4rem;
}

.data-indicators-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 1.5rem;
    align-items: stretch;
}

.story-card {
    display: flex;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: visible;
    width: 85%;
    margin-top: 15px;
}.community-feed-container {
    width: 100%;
    height: 380px;
    padding: 20px 10px;
    border-radius: 15px;
    font-family: var(--sg-font-body);
    background-color: #d0d0d0;
  }

app-improvement-story {
    width: 100%;
}

.main-section {
    margin:  30px 8px;
    h2 {
        font-size: 25px;
    }

    p {
        font-size: 17px;
    }
}

.indicator-section {
    margin-bottom: 55px;
    margin-left: 20px;


    h2 {
        font-size: 28px;
    }

    .indicators {
        margin: 0px 120px;
        padding-top: 40px;
    }
}

.line-chart-section{
    width: 100%;
}

.heat-map{
    --bs-gutter-x: 0;
    margin-left: 0;
    margin-right: 0;

    app-heat-map{
        width: 100%;
    }
}

.black{
    color: black;
}
.indicators-section .row {
    justify-content: center !important;
}

.community-section{
    width: 83%;
}



@media (max-width: 768px) {
    .main-section {
        margin: 20px;
        h2 {
            font-size: 16px;
            margin-bottom: 18px;
        }

        p {
            font-size: 14px;
        }
    }

    .indicator-section {
        margin: 20px 0 0 20px;
        h2 {
            font-size: 22px;
            margin-left: 10px;
        }

        .indicators {
            margin: 0px 0px;
            padding-top: 0px;
        }
    }

    .heat-map{
        margin: 0px;
    }

    .line-chart-section{
        margin: 1.25rem 0 3rem 0;
    }

        .box-shadow {
            box-shadow: 0px 0px 0px 0px #00000040;
            border-radius: 0%;
            width:90%;
            height: auto;
        }

        .width-spacing{
            width: 90%;

        }

        .story-card{
            width: 80%;
            margin: 0px 35px 0px 20px;
        }

        .community-section .box-shadow{
            width: 100%;
        }

        .community-spacing{
            margin-left: -38px;
        }

        .section-heading {
            margin-left: 10px;
            margin-top: 1rem;
        }
}

.mitra-text{
  display: block;
  text-align: center;
  margin-top: 20px;
  font-size: 1rem;
}
