<div class="share-modal">
  <button class="close-btn" (click)="closeModal()">✕</button>

  <h3 class="title">Help us amplify this story</h3>

  <div class="section">
    <p class="label">Share on:</p>

    <div class="share-icons">
      <button class="share-item linkedin" (click)="share('linkedin')">
        <span>LinkedIn</span>
        <img src="/assets/icons/linkedin.png" alt="linkedin icon">
      </button>

      <button class="share-item whatsapp" (click)="share('whatsapp')">
        <span>WhatsApp</span>
        <img src="/assets/icons/whatsapp.png" alt="whatsapp icon">
      </button>

      <button class="share-item facebook" (click)="share('facebook')">
        <span>Facebook</span>
        <img src="/assets/icons/facebook.png" alt="facebook icon">
      </button>

      <button class="share-item instagram" (click)="share('instagram')">
        <span>Instagram</span>
        <img src="/assets/icons/instagram.png" alt="instagram icon">
      </button>
    </div>


  </div>

  <div class="section">
    <p class="label">Copy Text:</p>

    <div class="copy-box">
      <textarea
      #linkInput
      readonly
      [value]="shareText + '\n\n' + shareLink">
    </textarea>
    <button
    (click)="copyLink(linkInput)"
    aria-label="Copy link to clipboard"
    title="Copy link">
    <mat-icon>content_copy</mat-icon>
  </button>

    </div>
  </div>
</div>